.gradle/
local.properties
**/build/
*.iml
.idea/
.gradle-cache/

# keep wrapper scripts/properties in VCS, but not binary jar in this environment
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat
